@model List<InvestManagerVer2.Web.Models.StatisticsViewModel>
<link href="~/css/custom.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.css">
<script src="C:\Users\Lenovo\.nuget\packages\chart.js\3.7.1\content\Scripts\chart.min.js"></script>
@{
    ViewData["Title"] = "Statistic";
}
<form>
    <br />
    <div class="col" style="width:1295px; height:60px;">
        <div class="card radius-10 border-0 border-4 border-info">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="input-group" style="width:500px; margin-right:690px;">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background:blue;">
                            <i class="bi bi-filter"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Bye</a></li>
                            <li><a class="dropdown-item" href="#">Sell</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <canvas id="lineChart" style="width:1295px; height: 600px;background:white; border-radius:5px;"></canvas>

    <script>
        var ctx = document.getElementById('lineChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: @Html.Raw(Model?.Select(m => m.PortfolioProfitability) != null ? Json.Serialize(Model.Select(m => m.PortfolioProfitability)) : "[]"),
                datasets: [{
                    label: 'Цена',
                    data: @Html.Raw(Model?.Select(m => m.PortfolioCost) != null ? Json.Serialize(Model.Select(m => m.PortfolioCost)) : "[]"),
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</form>