<link href="~/css/custom.css" rel="stylesheet" />
@model InvestManagerVer2.Web.Models.LoginViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="containerLogin">
        <h1 class="h1Login" >Login</h1>
        <br /><br />
        <form method="post" action="@Url.Action("IndexAdmin")">
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Emale">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                
                <input type="password" class="form-control" placeholder="Enter Your Password" id="exampleInputPassword1">
            </div><br /> <br /> <br /><br /> <br /><br /> 
            <button type="submit" asp-action="IndexAdmin" asp-controller="Admin" class="btn btn-primary">Login</button>
            
        </form>
        <br /><br />
        <p class="MyP">Don’t have an account? <a href="@Url.Action("Step1", "Register")" class="alert-link"> Sign Up </a></p>
    </div>
</div>


