@using InvestManager.ApplicatoinCore.Models;
@model InvestManagerVer2.Web.Models.CategoryViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text_action" style="color:white;">Delete Category</h2>
        </div>        
        <div class="col-12">
            <div class="input-group mb-3">
                <span class="input-group-text w-10" id="input-name">Category Name</span>
                <input asp-for="Id" name="Id" type="text" disabled class="form-control"
                    aria-describedby="input-name">
            </div>
        </div>
        <form asp-action="Delete" method="post">
            <button type="submit" class="btn btn-primary" style="width: 150px;">Delete</button>
            <a asp-controller="Admin" asp-action="IndexAdmin" class="btn btn-outline-primary" style="width:150px">
                Cancel
            </a>
        </form>
    </div>
</div>