@using InvestManager.ApplicatoinCore.Models;
@model InvestManagerVer2.Web.Models.RegisterViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text_action" style="color:white;">Edit User Information</h2>
        </div>
        <form asp-action="EditAccount">
            <div class="col-12" style="">
                <div class="input-group">
                    <span class="input-group-text w-10" id="inputGroup-sizing-name" style="width:200px;">Name</span>
                    <input asp-for="Name" type="text" class="form-control" aria-describedby="inputGroup-sizing-name">
                </div>

                <div class="input-group">
                    <span class="input-group-text w-10" id="inputGroup-sizing-name" style="width:200px;">Surname</span>
                    <input asp-for="Surname" type="text" class="form-control" aria-describedby="inputGroup-sizing-name">
                </div>

                <div class="input-group">
                    <span class="input-group-text w-10" id="inputGroup-sizing-name" style="width:200px;">Password</span>
                    <input asp-for="Password" type="text" class="form-control" aria-describedby="inputGroup-sizing-name">
                </div>

                <div class="input-group">
                    <span class="input-group-text w-10" id="inputGroup-sizing-name" style="width:200px;">Phone number</span>
                    <input asp-for="NumberPhone" type="text" class="form-control" aria-describedby="inputGroup-sizing-name">
                </div>

                <div class="input-group">
                    <span class="input-group-text w-10" id="inputGroup-sizing-name" style="width:200px;">Email</span>
                    <input asp-for="Email" type="text" class="form-control" aria-describedby="inputGroup-sizing-name">
                </div>


                <div class="mb-3">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <span asp-validation-for="NumberPhone" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" style="width: 150px;">Edit</button>
            <a asp-controller="Admin" asp-action="Account" class="btn btn-outline-primary" style="width:150px">
                Cancel
            </a>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
