<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InvestManagerVer2.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InvestManagerVer2.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awersome/6.4.0/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <header class="bk_header" style="">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="color:white; border-radius:10px;  ">
            <div class="container-fluid" style="border-radius:5px;">
                <a class="navbar-brand" href="#" style="margin-left:100px">InvestManager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText" style="border-radius:5px;">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="IndexAdmin" asp-controller="Admin">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Account" asp-controller="Admin">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="IndexInvestor" asp-controller="InvestPortfolio">InvestPortfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Assets" asp-controller="InvestPortfolio">Assets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Transactions" asp-controller="InvestPortfolio">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Statistics" asp-controller="InvestPortfolio">Statistic</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="IndexAssetInPortfolio" asp-controller="AssetInPortfolio">AssetInPortfolio</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" asp-action="IndexAssetInPortfolio" asp-controller="AssetInPortfolio">AssetInPortfolio</a>
                        </li>*@

                        <li class="nav-item">
                            <a class="nav-link" asp-action="" asp-controller="">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="" asp-controller="">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted" style="color:black; background:white; border-radius:10px; ">
        <div class="container" @*style="color:white; background:white;*@">
            &copy; 2023 - InvestManager
        </div>
    </footer>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
