@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="containerRegister">
        <form method="post" action="@Url.Action("Step2")">
            <br />
            <h1 class="h1Login">Sign Up</h1>
            <div class="containerRegister2">
            <input class="form-control" type="text" placeholder="Enter Your Name">
            <input class="form-control" type="text" placeholder="Enter Your Surname">
            <input class="form-control" type="date" placeholder="Enter Your Date Of Birth">
            <input class="form-control" type="text" placeholder="Enter Your Emale">
            <input class="form-control" type="text" placeholder="Enter Your Phone Number"><br />
                <div class="form-group">
                    <br />
                    <input type="password" class="form-control" id="myInput" placeholder="Enter Your Password">
                    <input type="checkbox" onclick="myFunction()"> Show Password

                </div>
                <div class="form-group">
                    <br />
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                </div>

                <br /> 
                <input type="checkbox"> By continuing you accept our Privacy Policy and Term of Use
                <br />
            </div>
            <button type="submit" class="btn btn-primary">Next</button><br /><br />
            <p>Already have an account? <a href="@Url.Action("Login", "Home")" class="alert-link"> Login </a></p>
        </form>
    </div>
</div>
